<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>CarsRental - Dodawanie Samochodu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
    <style>
        input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>
</head>

<body class="gray-bg">
<div class="header">
    <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
    <li class="header_top_menu_element"><a th:href="@{/admin}">Zarządzanie użytkownikami</a></li>
    <li class="header_top_menu_element"><a class="header_top_menu_element_active" th:href="@{/adminCars}">Zarządzanie Samochodami</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminRents}">Zarządzanie Wypożyczeniami</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminMessage}">Wiadomości</a></li>
    <li class="header_top_menu_element"><a href="/swagger-ui.html">Swagger</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminLogout}">Wyloguj</a></li>
</ul>
<div class="content_home_page">
    <div class="about_us_container_info">
        <div style="width:500px;margin-left:auto;margin-right:auto;">

            <form th:action="@{/addNewCar}" method="POST">
                <label for="brand">Marka</label>
                <select id="brand" name="brand">
                    <option value="Alfa Romeo">Alfa Romeo</option>
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                    <option value="Chevrolet">Chevrolet</option>
                    <option value="Citroen">Citroen</option>
                    <option value="Fiat">Fiat</option>
                    <option value="Honda">Honda</option>
                    <option value="Kia">Kia</option>
                    <option value="Lexus">Lexus</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Peugeot">Peugeot</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Volvo">Volvo</option>
                </select>

                <label for="model">Model Samochodu</label>
                <input type="text" id="model" name="model" placeholder="Model Samochodu">

                <label for="engineType">Typ Silnika</label>
                <select id="engineType" name="engineType">
                    <option value="diesel">Diesel</option>
                    <option value="benzyna">Benzyna</option>
                    <option value="elektryczny">Elektryczny</option>
                </select>

                <label for="type">Typ nadwozia</label>
                <select id="type" name="type">
                    <option value="kombi">Kombi</option>
                    <option value="suv">SUV</option>
                    <option value="coupe">Coupe</option>
                    <option value="hatchback">Hatchback</option>
                    <option value="kabriolet">Kabriolet</option>
                    <option value="liftback">LiftBack</option>
                </select>

                <label for="year">Rok</label>
                <input type="text" id="year" name="year" placeholder="Rok">

                <label for="hours">Liczba KM</label>
                <input type="text" id="hours" name="hours" placeholder="KM">

                <label for="speedmax">Predokość MAX</label>
                <input type="text" id="speedmax" name="speedmax" placeholder="Predkość max">

                <label for="numberOfDoors">Liczba drzwi</label>
                <input type="text" id="numberOfDoors" name="numberOfDoors" placeholder="Liczba drzwi">

                <label for="numberOfSeats">Liczba miejsc siedzących</label>
                <input type="text" id="numberOfSeats" name="numberOfSeats" placeholder="Liczba miejsc siedzących">

                <label for="imageUrl">Obrazek</label>
                <input type="text" id="imageUrl" name="imageUrl" placeholder="Zdiecje">

                <label for="combustion">Spalanie</label>
                <input type="text" id="combustion" name="combustion" placeholder="Spalanie">

                <label for="available">Dostępność</label>
                <select id="available" name="available">
                    <option value="1">Tak</option>
                    <option value="0">Nie</option>
                </select>

                <label for="price">Cena za dzień</label>
                <input type="text" id="price" name="price" placeholder="Cena">

                <label for="quantity">Ilość</label>
                <input type="text" id="quantity" name="quantity" placeholder="Ilośc">

                <label for="description">Opis</label>
                <textarea id="description" name="description" placeholder="Opis Samochodu.." style="height:200px"></textarea>

                <input type="submit" value="Dodaj Samochód">
            </form>
        </div>
    </div>
</div>
<script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>