<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>CarsRental - Informacje o samochodzie</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
    <style>
        input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>
</head>

<body class="gray-bg">
<div class="header">
    <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
    <li class="header_top_menu_element"><a th:href="@{/admin}">Zarządzanie użytkownikami</a></li>
    <li class="header_top_menu_element"><a class="header_top_menu_element_active" th:href="@{/adminCars}">Zarządzanie Samochodami</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminRents}">Zarządzanie Wypożyczeniami</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminMessage}">Wiadomości</a></li>
    <li class="header_top_menu_element"><a href="/swagger-ui.html">Swagger</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminLogout}">Wyloguj</a></li>
</ul>
<div class="content_home_page">
    <div class="about_us_container_info">
        <div style="width:500px;margin-left:auto;margin-right:auto;">
            <div>
                <h1>Informacje o Samochodzie</h1>

                <form th:action="@{/updateCar}" method="POST">
                    <input type="hidden" id="carId" name="carID" th:value="${carInfo.id}">

                    <label for="model">Model Samochodu</label>
                    <input type="text" id="model" name="model" th:value="${carInfo.model}">

                    <label for="year">Rok</label>
                    <input type="text" id="year" name="year" th:value="${carInfo.year}">

                    <label for="hours">Liczba KM</label>
                    <input type="text" id="hours" name="hours" th:value="${carInfo.hours}">

                    <label for="speedmax">Predokość MAX</label>
                    <input type="text" id="speedmax" name="speedmax" th:value="${carInfo.speedmax}">

                    <label for="numberOfDoors">Liczba drzwi</label>
                    <input type="text" id="numberOfDoors" name="numberOfDoors" th:value="${carInfo.numberOfDoors}">

                    <label for="numberOfSeats">Liczba miejsc siedzących</label>
                    <input type="text" id="numberOfSeats" name="numberOfSeats" th:value="${carInfo.numberOfSeats}">

                    <label for="imageUrl">Obrazek</label>
                    <input type="text" id="imageUrl" name="imageUrl" th:value="${carInfo.imageUrl}">

                    <label for="combustion">Spalanie</label>
                    <input type="text" id="combustion" name="combustion" th:value="${carInfo.combustion}">

                    <label for="price">Cena za dzień</label>
                    <input type="text" id="price" name="price" th:value="${carInfo.price}">

                    <label for="quantity">Ilość</label>
                    <input type="text" id="quantity" name="quantity" th:value="${carInfo.quantity}">

                    <input type="submit" value="Edytuj">
                </form>

            </div>
        </div>
    </div>
</div>
<script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>