<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>CarsRental - Informacje o Zamówieniu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
    <style>
        input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
    </style>
</head>

<body class="gray-bg">
<div class="header">
    <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
    <li class="header_top_menu_element"><a th:href="@{/admin}">Zarządzanie użytkownikami</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminCars}">Zarządzanie Samochodami</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminRents}">Zarządzanie Wypożyczeniami</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminMessage}">Wiadomości</a></li>
    <li class="header_top_menu_element"><a href="/swagger-ui.html">Swagger</a></li>
    <li class="header_top_menu_element"><a th:href="@{/adminLogout}">Wyloguj</a></li>
</ul>
<div class="content_home_page">
    <div class="about_us_container_info">
        <div style="width:500px;margin-left:auto;margin-right:auto;">
            <div>
                <h1>Informacje o Zamówieniu</h1>
                <!--
                <form th:action="@{/replyMessage}" method="POST">

                    <label for="email">Tytuł:</label>
                    <input type="text" id="email" name="email" th:value="${messageInfo.email}" readonly>

                    <label for="title">Email</label>
                    <input type="text" id="title" name="title" th:value="${messageInfo.title}" readonly>

                    <label for="message">Wiadomość</label>
                    <input type="text" id="message" name="message" th:value="${messageInfo.desc}" readonly>

                    <label for="reply">Odpowiedź</label>
                    <textarea id="reply" name="reply" placeholder="Treśc odpowiedzi" style="height:200px"></textarea>

                    <input type="submit" value="Odpowiedz na wiadomość">
                </form>-->
                <table class="auto_details_table">
                    <tr>
                        <td>ID Zamówienia</td>
                        <td th:text="${order.id}"></td>
                    </tr>
                    <tr>
                        <td>Data od</td>
                        <td th:text="${#dates.format(order.dateFrom, 'dd-MMM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <td>Data do</td>
                        <td th:text="${#dates.format(order.dateTo, 'dd-MMM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <td>Imię:</td>
                        <td th:text="${user.firstName}"></td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td th:text="${user.lastName}"></td>
                    </tr>
                    <tr>
                        <td>Marka:</td>
                        <td th:text="${car.brand}"></td>
                    </tr>
                    <tr>
                        <td>Model:</td>
                        <td th:text="${car.model}"></td>
                    </tr>
                    <tr>
                        <td>Typ:</td>
                        <td th:text="${car.type}"></td>
                    </tr>
                    <tr>
                        <td>Silnik:</td>
                        <td th:text="${car.engineType}"></td>
                    </tr>
                    <tr>
                        <td>Rok:</td>
                        <td th:text="${car.year}"></td>
                    </tr>
                    <tr>
                        <td>KM:</td>
                        <td th:text="${car.hours}"></td>
                    </tr>
                    <tr>
                        <td>Prędkość Maksymalna:</td>
                        <td th:text="${car.speedmax}"></td>
                    </tr>
                    <tr>
                        <td>Cena:</td>
                        <td th:text="${car.price}"></td>
                    </tr>
                    <tr>
                        <td>Łączna Liczba Dni:</td>
                        <td th:text="${timeDayOrder}"></td>
                    </tr>
                    <tr>
                        <td>Kwota Do Zapłaty</td>
                        <td th:text="${fullPriceOrder}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>