.header_top_menu {
    list-style-type: none;
    margin: 0;
    padding-left: 9%;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


.header_top_menu_element {
    float: left;
}


.header_top_menu_element a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.header_top_menu_element a:hover {
    background-color: #111;
}

.header_top_menu_element_active {
    background-color: #5b7f5d;
}
