.header{
    background-color: #444444;
    height:110px;
}

.header_logo{
    margin-left:7%;
}

.content_home_page{
    width:90%;
    margin-left:auto;
    margin-right:auto;

}

.auto_container{
    float:left;
    width:85%;
    background-color: #303538;
    box-sizing: border-box;
    padding: 20px;
}

.cars_list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.cars_list li {
    background-color: yellow;
    display: inline-block;
    font-size: 20px;
    border:4px black solid;
}

.cars_list_element_image{
    background-color: #505558;
    width:450px;
    height:250px;
}

.cars_list_element_name{
    background-color: #583c4f;
    width:450px;
    height:40px;
}

.car_list_container{
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.car_list_container:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.pagination_container{
    width:450px;
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid black;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.car_information{
    font-size: 16px;
    color: #4aff98;
}

.auto_information_details{
    float:left;
    width:50%;
    padding:10px;
    border-right: 3px black solid;
}

.auto_information_rent{
    float:left;
    width:50%;
    padding:10px;
}

.auto_details_table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.auto_details_table td, .auto_details_table th{
    border: 1px solid black;
    font-size:15px;
    color: #4aff98;
}

.button_style{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.about_information_price_container{
    font-size: 25px;
    color:red;
}

.about_us_container_info{
    width:85%;
    background-color: #303538;
    margin-left:10%;
    padding:15px;
}


     .schedule-table{
        width:100%;
        border:1px black solid;
        font-size:15px;
    }

    .schedule-header-table{
        border:1px black solid;
        background-color: #6890ac;
        color:white;
    }

    .schedule-week-name{
        background-color: #75b2dd;
        color:white;
    }

    .schedule-value-row{
        background-color: #75b2dd;
        color:white;
    }