.vertical-menu {
    width: 15%;
    float:left;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom:1px black solid;
    border-left:1px black solid;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #5b7f5d;
    color: white;
}