<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>CarsRental - o nas</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
<div class="header">
    <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
    <li class="header_top_menu_element"><a th:href="@{/index}">Oferta</a></li>
    <li class="header_top_menu_element"><a class="header_top_menu_element_active" th:href="@{/about_us}">O Nas</a></li>
    <li class="header_top_menu_element"><a th:href="@{/login}">Zaloguj się </a></li>
    <li class="header_top_menu_element"><a th:href="@{/register}">Zarejestruj się</a></li>
    <li class="header_top_menu_element"><a th:href="@{/contact}">Kontakt</a></li>
</ul>

<div class="content_home_page">
    <div class="about_us_container_info">
        <span class ="car_information">
            <img src="img/about_us/sportowy-samochod.png" style="float:left"/>
            <h1>Idea wypożyczania aut</h1><br />
            <p>Wynajem samochodów jest alternatywą dla kupowania aut na własność. Dzięki tej usłudze każdy klient może wypożyczyć samochód na tak długo jak tylko chce. Wypożyczalnie aut w zamyśle maja pomóc w rozwiązywaniu problemów z transportem i ochroną środowiska. Jednak koncepcja wynajmowania pojazdów nie jest wcale nowatorskim rozwiązaniem.</p>
            <h1>Geneza Powstania</h1><br />
            <p>Wszystko zaczęło się w niedługim czasie po II Wojnie Światowej. Pierwsza próba została podjęta przez wypożyczalnię samochodów Sefage w miejscowości Zurych w Szwajcarii. Myśl przewodnia nowego biznesu brzmiała: „Jeśli nie stać Cię na auto, wypożycz jakieś”. Kolejne wypożyczalnie samochodów podejmowały się różnych eksperymentów. Przykładowo wypożyczalnia aut Procotip (Francja, 1971-1973) wprowadziła pojazdy na żetony, umożliwiając płacenie wedle przebytego dystansu. Natomiast firma Witkar (Holandia, 1974-1988) zastosowała elektroniczne auta o zasięgu ograniczonym do centrum miasta. </p>
            <p>Pierwsza fala programów wynajmowania aut nie trwała zbyt długo. Wszystkie inicjatywy zakończyły się fiaskiem. Przyczyną niepowodzeń było niewłaściwe zarządzanie finansami, słaby marketing, złe planowanie oraz brak wsparcia ze strony władz lokalnych. W praktyce koncepcja wynajmowania aut sprawdza się pod warunkiem, że klient jest zadowolony, a współczynnik wykorzystania samochodów jest odpowiednio wysoki.  </p>
            <p>Pierwsze doświadczenie było koordynowane przez Purdue University i miało zachęcać do użytkowania mniejszych oraz bardziej ekonomicznych pojazdów. Program badań przewidywał ograniczenie potrzeby korzystania z dodatkowych środków transportu.
STAR natomiast został założony jako projekt demonstracyjny prywatnej firmy w San Francisco, która obsługiwała mieszkańców dużego kompleksu apartamentowego nieopodal Uniwersytetu Stanowego w San Francisco (Doherty, Sparrow & Sinha, 1987).
Wypożyczalnia samochodów Carsharing Portland zaczęła działać jako nieformalny system wymiany samochodów obejmujący jedno auto i kilku sąsiadów. Uznano, że przyczyniła się do przeprowadzenia pierwszej tego typu operacji w Stanach Zjednoczonych.
Wkrótce po powstaniu Carsharing Portland w 1998 r. utworzono Flexcar i Zipcar. Firmy te opracowały programy oparte na stacjach, w których pojazdy znajdują się w wyznaczonym miejscu tak, aby użytkownicy mogli odbierać i zostawiać samochody. W 2001 r. Flexcar nabyło Carsharing Portland, a w 2007 r. połączyło się z Zipcar. Niedługo po tym Zipcar zostało przejęte przez firmę Avis za ok. 500 milionów dolarów obniżając ceny za wynajem aut o 32 procent. Wysokie koszty działalności floty, w tym koszt dzierżawy, amortyzacji, parkowania, paliwa, ubezpieczenia, naprawy i utrzymania pojazdów, wątpliwy zysk ze sprzedaży samochodów, jak też wysokość wynagrodzenia pracowników pogrążyły Zipcar.</p>
            <p>Aby generować zyski, przedsiębiorstwa zajmujące się lokalnym wynajmem aut muszą jak najbardziej obniżyć swoje własne koszty w stosunku do konkurencji. Wynajem aut to bardzo konkurencyjny biznes i ciężko jednocześnie wyprzedzić konkurencję, zaniżyć cenę usługi i sprawić, aby firma przynosiła zyski. Osiągnięcie rentowności może być prawdziwym wyzwaniem. W okresie od 1997 do 2009 uruchomiono 34 programy wypożyczania samochodów, a zamknięto 15 z nich, co w USA dało niemal 50-procentowy stopień zamknięcia.</p>
        </span>
    </div>
</div>
<script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>
