<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>Wypożyczalnia Samochodów</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
<div class="header">
    <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
    <li class="header_top_menu_element"><a class="header_top_menu_element_active" th:href="@{/index}">Oferta</a></li>
    <li class="header_top_menu_element"><a th:href="@{/about_us}">O Nas</a></li>
    <li class="header_top_menu_element"><a th:href="@{/login}">Zaloguj się </a></li>
    <li class="header_top_menu_element"><a th:href="@{/register}">Zarejestruj się</a></li>
    <li class="header_top_menu_element"><a th:href="@{/contact}">Kontakt</a></li>
</ul>

<div class="content_home_page">
    <div class="vertical-menu">
        <a href="#" class="active">Samochody</a>
        <a th:href="@{/index?carType=alfa_romeo}">Alfa Romeo</a>
        <a th:href="@{/index?carType=audi}">Audi</a>
        <a th:href="@{/index?carType=bmw}">BMW</a>
        <a th:href="@{/index?carType=chevrolet}">Chevrolet</a>
        <a th:href="@{/index?carType=citroen}">Citroen</a>
        <a th:href="@{/index?carType=fiat}">Fiat</a>
        <a th:href="@{/index?carType=honda}">Honda</a>
        <a th:href="@{/index?carType=kia}">Kia</a>
        <a th:href="@{/index?carType=lexus}">Lexus</a>
        <a th:href="@{/index?carType=mazda}">Mazda</a>
        <a th:href="@{/index?carType=peugeout}">Peugeot</a>
        <a th:href="@{/index?carType=toyota}">Toyota</a>
        <a th:href="@{/index?carType=volkswagen}">Volkswagen</a>
        <a th:href="@{/index?carType=volvo}">Volvo</a>
    </div>
    <div class="auto_container">
        <img th:src="${info_car.imageUrl}" style="float:left"/>
        <span class ="car_information">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum ultricies elit, et gravida libero dictum et. Quisque iaculis orci ex, sit amet tristique felis pulvinar a. Mauris fringilla commodo mi, ut mollis lectus sollicitudin ac. Sed at risus non dui maximus porttitor quis vitae ante. Phasellus et mollis ligula. Integer ut pellentesque eros. Donec at nisl quis nisl luctus consectetur. Vestibulum tellus turpis, aliquet nec sem non, condimentum ornare justo. Donec egestas dignissim dolor, ut venenatis felis aliquet et. Sed metus libero, maximus quis tristique et, tempus eget massa. Vestibulum gravida lacinia mi, vitae semper libero.
            Integer feugiat leo et mauris finibus, ac placerat nulla auctor. Proin at ipsum leo. Maecenas dictum sollicitudin suscipit. Proin elementum sed nibh quis tincidunt. Phasellus imperdiet, elit ut placerat sodales, nunc nibh facilisis massa, eget tempor turpis eros quis lorem. Nunc sed interdum lorem. Vestibulum elementum, elit quis mollis accumsan, turpis libero convallis leo, eu commodo magna nisl non elit. Vestibulum non lectus sed erat mattis auctor. In hac habitasse platea dictumst. Duis vitae dapibus tortor. Duis ut congue nibh. Aenean vitae rhoncus sem.
            Aliquam ipsum lectus, malesuada ac ipsum et, aliquet commodo augue. Fusce facilisis placerat ex bibendum vehicula. Etiam ac quam vel libero vestibulum semper. Praesent pellentesque dui eu est imperdiet dignissim. Nam tincidunt ullamcorper sollicitudin. Donec vel aliquam lacus. Sed eget placerat nisi. Aenean vitae magna vitae ligula euismod mattis. Aenean nec ultrices lacus. Aliquam pretium diam eu justo sollicitudin faucibus. Nam dignissim enim et molestie volutpat. Praesent nec urna et nunc suscipit iaculis.
            Aliquam ipsum lectus, malesuada ac ipsum et, aliquet commodo augue. Fusce facilisis placerat ex bibendum vehicula. Etiam ac quam vel libero vestibulum semper. Praesent pellentesque dui eu est imperdiet dignissim. Nam tincidunt ullamcorper sollicitudin. Donec vel aliquam lacus. Sed eget placerat nisi. Aenean vitae magna vitae ligula euismod mattis. Aenean nec ultrices lacus. Aliquam pretium diam eu justo sollicitudin faucibus. Nam dignissim enim et molestie volutpat. Praesent nec urna et nunc suscipit iaculis.
        </span>

        <div class="auto_container_information">
            <div class="auto_information_details">
                <table class="auto_details_table">
                    <tr>
                        <td>Marka</td>
                        <td th:text="${info_car.brand}"></td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td th:text="${info_car.model}"></td>
                    </tr>
                    <tr>
                        <td>Rodzaj</td>
                        <td th:text="${info_car.type}"></td>
                    </tr>
                    <tr>
                        <td>Rok</td>
                        <td th:text="${info_car.year}"></td>
                    </tr>
                    <tr>
                        <td>Pojemność</td>
                        <td th:text="${info_car.capacity}"></td>
                    </tr>
                    <tr>
                        <td>Liczba drzwi</td>
                        <td th:text="${info_car.numberOfDoors}"></td>
                    </tr>
                    <tr>
                        <td>Liczba miejsc siedzących</td>
                        <td th:text="${info_car.numberOfSeats}"></td>
                    </tr>
                    <tr>
                        <td>Spalanie</td>
                        <td th:text="${info_car.combustion}"></td>
                    </tr>
                </table>
            </div>

            <div class="auto_information_rent">
                <div class="about_information_price_container">
                    Cena: <span th:text="${info_car.price}"></span> zł
                </div>

                <div>
                    <form th:action="@{'/rentCar?id=' + ${info_car.id}}" method="POST">
                        <div>
                            <button type="submit" class="button_style">Zarezerwuj samochód</button>
                        </div>
                    </form>
                    <!--
                    <th:block th:switch="${isLogged}">
                        <div th:case="'1'">
                            <form th:action="@{/rentCar}" method="POST">
                                <div>
                                    <button type="submit" class="button_style">Zarezerwuj samochód</button>
                                </div>
                            </form>
                        </div>
                        <div th:case="'0'">
                            Musisz być zalogowany żeby zarezerować samochód!
                        </div>
                    </th:block>-->
                </div>
            </div>
        </div>

    </div>
</div>
<script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>

