<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>CarsRental - Zapomniałem hasła</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
    <style>
        input[type=text] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        input[type=submit]:hover {
          background-color: #45a049;
        }
    </style>
</head>

<body class="gray-bg">
<div class="header">
    <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
    <li class="header_top_menu_element"><a th:href="@{/index}">Oferta</a></li>
    <li class="header_top_menu_element"><a th:href="@{/about_us}">O Nas</a></li>
    <li class="header_top_menu_element"><a th:href="@{/login}">Zaloguj się </a></li>
    <li class="header_top_menu_element"><a th:href="@{/register}">Zarejestruj się</a></li>
    <li class="header_top_menu_element"><a th:href="@{/contact}">Kontakt</a></li>
</ul>
<div class="content_home_page">
    <div class="about_us_container_info">
        <div style="width:500px;margin-left:auto;margin-right:auto;">
            <h1>Zapomniałeś hasła?</h1>
            <form th:action="@{/resetPassword}" method="POST">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Adres e-mail..">

                <input type="submit" value="Resetuj hasło">
            </form>
        </div>
    </div>
</div>
<script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>
