<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>Wypożyczalnia Samochodów</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
    <div class="header">
        <img src="img/logo.png" class="header_logo"/>
    </div>

    <ul class="header_top_menu">
        <li class="header_top_menu_element"><a class="header_top_menu_element_active" th:href="@{/index}">Oferta</a></li>
        <li class="header_top_menu_element"><a th:href="@{/about_us}">O Nas</a></li>
        <li class="header_top_menu_element"><a th:href="@{/login}">Zaloguj się </a></li>
        <li class="header_top_menu_element"><a th:href="@{/register}">Zarejestruj się</a></li>
        <li class="header_top_menu_element"><a th:href="@{/contact}">Kontakt</a></li>
    </ul>

    <div class="content_home_page">
        <div class="vertical-menu">
            <a href="#" class="active">Samochody</a>
            <a href="?carType=alfa_romeo">Alfa Romeo</a>
            <a href="?carType=audi">Audi</a>
            <a href="?carType=bmw">BMW</a>
            <a href="?carType=chevrolet">Chevrolet</a>
            <a href="?carType=citroen">Citroen</a>
            <a href="?carType=fiat">Fiat</a>
            <a href="?carType=honda">Honda</a>
            <a href="?carType=kia">Kia</a>
            <a href="?carType=lexus">Lexus</a>
            <a href="?carType=mazda">Mazda</a>
            <a href="?carType=peugeot">Peugeot</a>
            <a href="?carType=toyota">Toyota</a>
            <a href="?carType=volkswagen">Volkswagen</a>
            <a href="?carType=volvo">Volvo</a>
        </div>
        <div class="auto_container">
            <ul class="cars_list">
                <li class="car_list_container" th:each="car, rowStat: ${listOfCars}">
                    <a th:href="@{'/car?id=' + ${car.id}}">
                        <div class="cars_list_element_image">
                            <img th:src="${car.imageUrl}"/>
                        </div>
                        <div class="cars_list_element_name" th:text="${car.brand}"></div>
                    </a>
                </li>
            </ul>

            <div class="pagination_container">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="?page=1" class="active">1</a>
                    <a href="?page=2">2</a>
                    <a href="?page=3">3</a>
                    <a href="?page=4">4</a>
                    <a href="?page=5">5</a>
                    <a href="?page=6">6</a>
                    <a href="#">&raquo;</a>
                </div>

            </div>
        </div>
    </div>
    <script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>
