<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="img/favicon.ico" />
  <title>CarsRental - logowanie</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link th:href="@{css/style.css}" rel="stylesheet" />
  <link th:href="@{css/template.css}" rel="stylesheet" />
  <link th:href="@{css/header_menu.css}" rel="stylesheet" />
  <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
</head>

<body class="gray-bg">
<div class="header">
  <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
  <li class="header_top_menu_element"><a th:href="@{/index}">Oferta</a></li>
  <li class="header_top_menu_element"><a th:href="@{/about_us}">O Nas</a></li>
  <li class="header_top_menu_element"><a th:href="@{/login}">Zaloguj się </a></li>
  <li class="header_top_menu_element"><a class="header_top_menu_element_active" th:href="@{/register}">Zarejestruj się</a></li>
  <li class="header_top_menu_element"><a th:href="@{/contact}">Kontakt</a></li>
</ul>

<div class="content_home_page">
  <div class="about_us_container_info">
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>


        <h3>Nie masz jeszcze konta?</h3>

        <form autocomplete="off" action="#" th:action="@{/register}"
              th:object="${user}" method="post" class="m-t" role="form"
              data-toggle="validator">


          <div th:if="${confirmationMessage}" class="alert alert-success"
               role="alert" th:text=${confirmationMessage}></div>

          <div th:if="${alreadyRegisteredMessage}"
               class="alert alert-danger" role="alert"
               th:text="${alreadyRegisteredMessage}"></div>


          <div th:if="${#fields.hasErrors('firstName')}"
               th:errors="*{firstName}"
               class="validation-message alert alert-danger" role="alert"></div>

          <div th:if="${#fields.hasErrors('lastName')}"
               th:errors="*{lastName}"
               class="validation-message alert alert-danger" role="alert"></div>


          <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
               class="validation-message alert alert-danger" role="alert"></div>

          <div th:if="${#fields.hasErrors('password')}"
               th:errors="*{password}"
               class="validation-message alert alert-danger" role="alert"></div>


          <div class="form-group input-group has-feedback">
            <label th:if="${#fields.hasErrors('firstName')}"
                   th:errors="*{firstName}" class="validation-message"></label>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

            <input type="text" th:field="*{firstName}"
                   placeholder="Imię" class="form-control" required />
            <span class="glyphicon form-control-feedback"
                  aria-hidden="true"></span>
          </div>

          <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
            <input type="text" th:field="*{lastName}"
                   placeholder="Nazwisko" class="form-control" required />
            <span class="glyphicon form-control-feedback"
                  aria-hidden="true"></span>
          </div>

          <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
            <input type="email" th:field="*{email}"
                   placeholder="Email" class="form-control"
                   data-error="This email address is invalid" required />
            <span class="glyphicon form-control-feedback"
                  aria-hidden="true"></span>

          </div>

          <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
                <input type="password" th:field="*{password}"
                       placeholder="Hasło" class="form-control"
                       data-error="Hasło niepoprawne" required />
                <span class="glyphicon form-control-feedback"
                      aria-hidden="true"></span>
          </div>

          <button type="submit"
                  class="btn btn-primary block full-width m-b">Zarejestruj się </button>

        </form>
        <p class="m-t">

        </p>
      </div>
    </div>
  </div>
</div>
  <script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>
