<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="img/favicon.ico" />
    <title>CarsRental - Rezerwacja</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <link th:href="@{css/template.css}" rel="stylesheet" />
    <link th:href="@{css/header_menu.css}" rel="stylesheet" />
    <link th:href="@{css/vertical_menu.css}" rel="stylesheet" />
    <style>
        input[type=date] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        input[type=submit]:hover {
          background-color: #45a049;
        }
    </style>
</head>

<body class="gray-bg">
<div class="header">
    <img src="img/logo.png" class="header_logo"/>
</div>

<ul class="header_top_menu">
    <li class="header_top_menu_element"><a th:href="@{/index}">Oferta</a></li>
    <li class="header_top_menu_element"><a th:href="@{/about_us}">O Nas</a></li>
    <li class="header_top_menu_element"><a th:href="@{/login}">Zaloguj się </a></li>
    <li class="header_top_menu_element"><a th:href="@{/register}">Zarejestruj się</a></li>
    <li class="header_top_menu_element"><a th:href="@{/contact}">Kontakt</a></li>
</ul>
<div class="content_home_page">
    <div class="about_us_container_info">
        <div style="width:500px;margin-left:auto;margin-right:auto;">
            <table class="auto_details_table">
                <tr>
                    <td>Rezerwacja Samochodu</td>
                    <td th:text="${info_car.brand}"></td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td th:text="${info_car.model}"></td>
                </tr>
                <tr>
                    <td>Typ:</td>
                    <td th:text="${info_car.type}"></td>
                </tr>
                <tr>
                    <td>Silnik:</td>
                    <td th:text="${info_car.engineType}"></td>
                </tr>
                <tr>
                    <td>Rok:</td>
                    <td th:text="${info_car.year}"></td>
                </tr>
                <tr>
                    <td>KM:</td>
                    <td th:text="${info_car.hours}"></td>
                </tr>
                <tr>
                    <td>Prędkość Maksymalna:</td>
                    <td th:text="${info_car.speedmax}"></td>
                </tr>
                <tr>
                    <td>Cena</td>
                    <td th:text="${info_car.price}"></td>
                </tr>

            </table>
            <div>
                <img th:src="${info_car.imageUrl}" style="float:left"/>
            </div>
            <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
            <table class="auto_details_table">
                <tr>
                    <td>Email</td>
                    <td th:text="${info_user.email}"></td>
                </tr>
                <tr>
                    <td>Imię</td>
                    <td th:text="${info_user.firstName}"></td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td th:text="${info_user.lastName}"></td>
                </tr>
            </table>


            <div>
                <form th:action="@{/rentCarProcess}" method="POST">
                    <input type="hidden" name="carIdInfo" th:value="${info_car.id}">

                    <label for="dateFrom">Data Od</label>
                    <input type="date" id="dateFrom" name="date_from">

                    <label for="dateTo">Data Do</label>
                    <input type="date" id="dateTo" name="date_to" >


                    <input type="submit" value="Zarezerwuj Samochód">
                </form>
                <!--
                <form th:action="@{/rentCarProcess}" method="POST">
                    <input type="hidden" name="carIdInfo" th:value="${info_car.id}">
                    <div>
                        Data od <input type="date" name="date_from">
                    </div>
                    <div>
                        Data do <input type="date" name="date_to">
                    </div>
                    <div>
                        <button type="submit" class="button_style">Zarezerwuj</button>
                    </div>
                </form>-->
            </div>
        </div>
    </div>
</div>
<script rc="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
</body>
</html>
